@import '../../../utils-scss/mixins';
@import '../../../utils-scss/fonts.scss';
@import '../../../utils-scss/variables';

.code {
  padding: 105px 0 0 58px;
  &__title {
    @extend %mont-400;

    font-size: 50px;
    line-height: 25px;
    color: $color-black;
    margin-bottom: 55px;
  }

  &__wraper {
    margin: 0 auto;
    width: min-content;
  }

  &__name {
    @extend %mont-400;

    font-size: 18px;
    line-height: 25px;
    color: $color-black;
    margin-bottom: 15px;
  }

  &__input {
    width: 350px;
    height: 45px;
    border: 1px solid  #888383;
    padding-left: 21px;

    @extend %mont-400;

    font-size: 18px;
    line-height: 38px;
    color: $color-black;
    margin-bottom: 55px;
  }

  &__button {
    @extend %mont-700;

    font-size: 18px;
    line-height: 25px;
    width: 350px;
    height: 50px;
    color: $color-white;
    border-radius: 5px;
    border: none;
    background-color: $color-dark-purple;
    transition: all 0.3s;
    cursor: pointer;

    &:hover {
      transform: scale(1.03);
    }
  }
}