@import '../../utils-scss/variables.scss';
@import '../../utils-scss/fonts.scss';

.discount {
  padding-top: 28px;
  display: flex;
  justify-content: center;
  gap: 62px;

  &__container {
    padding-top: 110px  ;
    display: flex;
    flex-direction: column;
    gap: 69px;
  }

  &__tiket {
    width: 513px;
  }

  &__title {
    @extend %mont-700;

    font-size: 30px;
    line-height: 36px;
    color: $color-black;
    margin-bottom: 50px;
  }

  &__detail {
    @extend %mont-400;

    font-size: 25px;
    line-height: 40px;
    width: 623px;
    margin-bottom: 30px;
  }

  &__conditions {
    @extend %mont-700;

    font-size: 15px;
    line-height: 25px;
    color: $color-grey;
  }
}

.tiket {
  height: 175px;
  width: 100%;
  border-radius: 15px;
  border: 1px solid $color-blue-similar;
  display: flex;

  &__title {
    @extend %mont-400;

    font-size: 50px;
    line-height: 25px;
    color: $color-white;
  }

  &__wraper {
    height: 100%;
    width: 283px;
    display: flex;
    padding-left: 20px;
    border-top-left-radius: 14px;
    border-bottom-left-radius: 14px;

    flex-direction: column;
    gap: 25px;
    justify-content: center;
    background-color: $color-blue-similar
  }

  &__code {
    width: 179px;
    height: 119px
  }

  &__description {
    @extend %mont-700;

    font-size: 16px;
    line-height: 25px;
    color: $color-white;
  }

  &__price {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 35px;
    width: 230px;
    padding-top: 38px;
  }

  &__cost {
    @extend %mont-400;

    font-size: 50px;
    line-height: 25px;
    color: $color-black;
  }
}