@import '../../utils-scss/mixins';
@import '../../utils-scss/fonts.scss';
@import '../../utils-scss/variables';

.passw {
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 52px 16px 43px;
  position: relative;
  margin-bottom: 80px;
  flex-grow: 1;

  @include on-desktop {
    width: 1340px;
    padding: 154px 0 60px 0;
  }

  &__img {
    width: 174px;
    height: 174px;
    background-image: url(../../../public/img/done.png);
    margin-bottom: 39px;
  }

  &__title {
    @extend %mont-700;

    font-size: 44px;
    line-height: 52px;
    color: $color-dark-purple;
    margin-bottom: 20px;

    @include on-desktop {
      font-size: 70px;
      line-height: 70px;
    }
  }

  &__status {
    @extend %mont-400;

    font-size: 25px;
    line-height: 40px;
    color: $color-dark-purple;
    text-align: center;

    @include on-desktop {
      font-size: 21px;
      line-height: 25px;
    }
  }
}