@import '../../../utils-scss/mixins';
@import '../../../utils-scss/variables';
@import '../../../utils-scss/fonts.scss';

.order {
  width: 100%;
  margin: 0 auto;
  padding: 32px 16px;

  @include on-desktop {
    padding-top: 46px;
    width: 1280px;
  }

  &__container {
    position: relative;
    &--active {
      margin-bottom: 58px;

      @include on-desktop {
        margin-bottom: 187px;
      }
    }
  }

  &__title {
    @extend %mont-700;

    font-size: 26px;
    line-height: 32px;
    color: $color-dark-purple;
    margin-bottom: 40px;

    @include on-desktop {
      font-size: 44px;
    }
  }

  &__wraper {
    display: flex;
    flex-direction: column;
    gap: 27px;
  }

  &__block {
    width: 1280px;
    height: 212px;
    border:1px solid #087713;
    padding: 28px 48px 34px 32px;
    display: flex;
    justify-content: space-between;
  }

  &__frame {
    display: flex;
    flex-direction: column;
    gap: 45px;
  }

  &__content {
    width: 235px;
    display: flex;
    gap: 32px;
  }

  &__value {
    @extend %mont-700;

    font-size: 16px;
    line-height: 19px;
    color: $color-dark-purple;
  }

  &__description {
    @extend %mont-400;

    font-size: 16px;
    line-height: 20px;
    color: $color-black;
  }

  &__rules {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__data {
    @extend %mont-700;

    font-size: 14px;
    line-height: 15px;
    color: $color-black;
    text-align: end
  }

  &__ask {
    @extend %mont-700;

    font-size: 18px;
    line-height: 25px;
    color: $color-blue;
  }
}