@import '../../utils-scss/fonts.scss';
@import '../../utils-scss/variables.scss';
@import '../../utils-scss/mixins';


.service {
  padding: 15px 16px 44px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  @include on-desktop {
    padding: 107px 0 78px 50px;
    flex-direction: row;
  }

  &__title {
    @extend %mont-700;

    font-size: 44px;
    color: $color-dark-purple;
    line-height: 52px;
    margin-bottom: 15px;

    @include on-desktop {
      font-size: 70px;
      line-height: 70px;
      margin-bottom: 70px;
    }
  }

  &__name {
    @extend %mont-400;

    font-size: 26px;
    line-height: 32px;
    color: $color-grey;
    margin-bottom: 5px;

    @include on-desktop {
      font-size: 50px;
      line-height: 25px;
      margin-bottom: 25px;
    }
  }

  &__phone {
    @extend %mont-700;

    font-size: 20px;
    line-height: 24px;
    color: $color-grey;

    @include on-desktop {
      margin-bottom: 45px;
      font-size: 30px;
      line-height: 36px;
    }
  }

  &__button {
    @extend %mont-700;

    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    line-height: 25px;
    color: $color-white;
    background-color: $color-blue;
    border: none;
    width: 100%;
    height: 50px;
    border-radius: 5px;
    transition: all 0.3s;
    // order: 6;
    margin-top: 100px;

    &:hover {
      transform: scale(1.03);
    }

    @include on-desktop {
      width: 460px;
      position: absolute;
      top: 500px;
    }
  }

  &__slider {
    max-width: 650px;
    // order: 8;
    height: 427px;

    @include on-desktop {
      width: 650px;
    }
  }

  &__img {
    max-width: 150px;
    max-height: 200px;
    object-fit: contain;

    @include on-desktop {
      max-width: 290px;
      max-height: 387px;
    }
  }

  &__link {
    width: 290px;
    height: 387px;
    display: flex !important;
    align-items: center;
    justify-content: center;
  }
}

.slick-dots li button:before {
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: $color-blue;
}

.slick-dots li {
  margin: 0 14px;
}

.slick-dots {
  bottom: -40px;

  @include on-desktop {
   bottom: -35px;
  }
}