@import '../../../utils-scss/mixins';
@import '../../../utils-scss/variables';
@import '../../../utils-scss/fonts.scss';


.bid {
  &__title {
    @extend %mont-700;

    font-size: 44px;
    line-height: 52px;
    color: $color-dark-purple;
    margin-bottom: 40px;
  }

  &__block {
    width: 100%;

    border:1px solid #087713;
    padding: 28px 48px 34px 32px;
    display: flex;
    justify-content: space-between;

    @include on-desktop {
      width: 1280px;
      height: 212px;
    }
  }

  &__frame {
    display: flex;
    flex-direction: column;
  }

  &__content {
    width: 235px;
    display: flex;
    gap: 32px;

    &--type {
      margin-bottom: 10px;

      @include on-desktop {
        margin-bottom: 45px;
      }
    }

    &--problem {
      margin-bottom: 21px;

      @include on-desktop {
        margin-bottom: 45px;
      }
    }
  }

  &__value {
    @extend %mont-700;

    font-size: 16px;
    line-height: 19px;
    color: $color-dark-purple;
  }

  &__description {
    @extend %mont-400;

    font-size: 16px;
    line-height: 20px;
    color: $color-black;
  }

  &__rules {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__data {
    @extend %mont-700;

    font-size: 14px;
    line-height: 15px;
    color: $color-black;
    text-align: end
  }
}