* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  
}

// iframe {
//   display: none;
// }

.App {
  // flex: 1;
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
}

#root {
  min-height: 100vh;
  // margin: 0;
  // display: flex;
  // flex-direction: column;
}